In [12]:
import pandas as pd

## get data

In [13]:
games = pd.read_csv("data/day2.in", sep=" "
#, header=0
, names=["his_play","my_play"])
games.head()

  his_play my_play
0        B       Y
1        A       Z
2        A       Z
3        C       Z
4        B       Y

In [14]:
games.describe()

       his_play my_play
count      2500    2500
unique        3       3
top           B       Y
freq       1584     900

## Game rules

The winner of the whole tournament is the player with the highest score. Your total score is the sum of your scores for each round. The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

In [15]:
def get_score(his_play: str, my_play: str) -> int :
    
    if his_play == 'A':
        value1 = 1
    elif his_play == 'B':
        value1 = 2
    elif his_play == 'C':
        value1 = 3
    else:
        raise Exception("player #2 play is invalid! ", his_play) 

    if my_play == 'X' or my_play == 'A':
        value2 = 1
    elif my_play == 'Y' or my_play == 'B':
        value2 = 2
    elif my_play == 'Z' or my_play == 'C':
        value2 = 3
    else:
        raise Exception("player #2 play is invalid! ", my_play) 

    if value2 == ((value1 % 3) + 1):
        win = 6
    elif value1 == value2:
        win = 3
    else:
        win = 0

    return win + value2

This strategy guide predicts and recommends the following:

    - In the first round, your opponent will choose Rock (A), and you should choose Paper (Y). This ends in a win for you with a score of 8 (2 because you chose Paper + 6 because you won).
    - In the second round, your opponent will choose Paper (B), and you should choose Rock (X). This ends in a loss for you with a score of 1 (1 + 0).
    - The third round is a draw with both players choosing Scissors, giving you a score of 3 + 3 = 6.

In [16]:
print(get_score("A","Y"))
print(get_score("B","X"))
print(get_score("C","Z"))
print(get_score("A","Z"))
print(get_score("C","X"))
print(get_score("B","Z"))


#print(get_score("C","Y"))

8
1
6
3
7
9

### Run game

In [25]:
games['score'] = games.apply(lambda x: get_score(x.his_play, x.my_play), axis=1)
games.describe()

             score
count  2500.000000
mean      4.641200
std       2.567937
min       1.000000
25%       3.000000
50%       5.000000
75%       6.000000
max       9.000000

In [18]:
print("final score: ", games['score'].sum())

final score:  11603

## Part 2

In [28]:
def get_my_play(his_play: str, my_strategy: str) -> str :
    
    if his_play == 'A':
        value1 = 1
    elif his_play == 'B':
        value1 = 2
    elif his_play == 'C':
        value1 = 3
    else:
        raise Exception("player #2 play is invalid! ", his_play) 

    if my_strategy == 'X': #loose
        value2 = value1 - 1
    elif my_strategy == 'Y': #draw
        value2 = value1
    elif my_strategy == 'Z': #win
        value2 = (value1 + 1 ) % 3
    else:
        raise Exception("player #2 play is invalid! ", my_play) 

    if value2 == 0 : value2 = 3

    if value2 == 1:
        my_play = 'A'
    elif value2 == 2:
        my_play = 'B'
    elif value2 == 3:
        my_play = 'C'
    else:
        raise Exception("value#2 play is invalid! ", value2)


    return my_play

#print(get_my_play("A","Y")) #OK
#print(get_my_play("B","X"))
#print(get_my_play("C","Z"))
#print(get_my_play("C","Z"))
#print(get_my_play("A","X"))

In [29]:
def get_score2(his_play: str, my_strategy: str) -> int :
    
    my_play = get_my_play(his_play, my_strategy)

    return get_score(his_play, my_play)


    - In the first round, your opponent will choose Rock (A), and you need the round to end in a draw (Y), so you also choose Rock. This gives you a score of 1 + 3 = 4.
    
    - In the second round, your opponent will choose Paper (B), and you choose Rock so you lose (X) with a score of 1 + 0 = 1.
    
    - In the third round, you will defeat your opponent's Scissors with Rock for a score of 1 + 6 = 7.

In [30]:
print(get_score2("A","Y"))
print(get_score2("B","X"))
print(get_score2("C","Z"))

4
1
7

In [33]:
games['score2'] = games.apply(lambda x: get_score2(x.his_play, x.my_play), axis=1)
games.describe()

             score       score2
count  2500.000000  2500.000000
mean      4.641200     5.090000
std       2.567937     2.787725
min       1.000000     1.000000
25%       3.000000     2.000000
50%       5.000000     5.000000
75%       6.000000     8.000000
max       9.000000     9.000000

In [34]:
games['score2'].sum()

12725